<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <description>for dynamic aboutpage</description>
        <servlet-name>aboutpage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.home.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerpage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.home.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Login logic</description>
        <servlet-name>loginpage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.home.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restaurantspage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.home.RestaurantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followpage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.home.FollowRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdashboard</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.userd.UserDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userupdate</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.userd.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestrole</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.userd.RequestRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchasepackage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.userd.PurchasePackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redeemmeal</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.userd.RedeemMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restaurantowner</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.restaurantd.RestaurantDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpackage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.restaurantd.RestaurantAddPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletepackage</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.restaurantd.RestaurantDeletePackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restredeemmeal</servlet-name>
        <servlet-class>com.mycompany.duneix.web.servlet.restaurantd.RestaurantRedeemMealServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aboutpage</servlet-name>
        <url-pattern>/about</url-pattern>        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerpage</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginpage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restaurantspage</servlet-name>
        <url-pattern>/restaurants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followpage</servlet-name>
        <url-pattern>/follow-restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdashboard</servlet-name>
        <url-pattern>/user/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userupdate</servlet-name>
        <url-pattern>/user/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestrole</servlet-name>
        <url-pattern>/user/request-role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchasepackage</servlet-name>
        <url-pattern>/user/purchase-package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redeemmeal</servlet-name>
        <url-pattern>/user/redeem-meal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restaurantowner</servlet-name>
        <url-pattern>/restaurant/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpackage</servlet-name>
        <url-pattern>/restaurant/add-package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletepackage</servlet-name>
        <url-pattern>/restaurant/delete-package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restredeemmeal</servlet-name>
        <url-pattern>/restaurant/redeem-meal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
